<h3>You have created <%= @count %> service <%= 'request'.pluralize(@count) %> on Project Jellyfish for <%= @project.name %>.</h3>

<p><%= 'It'.pluralize(@count) %> is pending review. We will notify you once <%= 'it'.pluralize(@count) %> <%= 'is'.pluralize(@count) %> approved or denied.</p>
